$primaryColor: rgb(97 193 92)

.intro-main-container
    background-color: $primaryColor
    .intro-container
        position: absolute
        .intro-background
            opacity: 25%

    .enuygun-container
        position: relative
        width: 120rem
        height: 67.5rem
        display: flex
        justify-content: space-evenly
        align-items: center
        flex-direction: column
        .enuygun-logo
            width: 15%
        .intro-button
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            color: black
            background-color: white
            border-radius: 50px
            height: 4rem
            width: 14rem
            font-size: large
            font-weight: 600
