$dark-cyan: hsl(185, 75%, 39%)
$dark-desat-blue: hsl(229, 23%, 23%)
$dark-gray-blue: hsl(227, 10%, 46%)
$dark-gray: hsl(0, 0%, 59%)
$primaryColor: rgb(97 193 92)
$backgroundColor: rgb(240,242,246,255)

.flex-row
    display: flex
    flex-direction: row

.flex-column
    display: flex
    flex-direction: column

.detail-container
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    right: 0
    left: 0
    top: 20%
    bottom: 15%
    animation: grow 1s ease-out

    .back-button
        position: absolute
        margin-bottom: 29%
        margin-right: 50%
        background-color: white
        cursor: pointer
        .back-button-image
            width: 2rem
            height: 2rem
            background-color: white
    @media only screen and (max-width: 1440px)
        .back-button
            margin-bottom: 32.5%
            margin-right: 50%

.card-container
    width: 56%
    height: 100%
    justify-content: space-between
    align-items: center
    background-color: white
    border-radius: 15px
    box-shadow: 0px 5px 20px -1px rgba(0, 0, 0, 0.4)
    &:hover
        box-shadow: 0 0 15px gray

    .card-pattern
        border-radius: 15px 15px 0 0

.user-info
    .user-photo
        position: relative
        width: 90%
        align-self: center
        border: 5px solid white
        border-radius: 10%
        transition: border 0.3s ease-out
        background-color: $backgroundColor
        margin-top: 2%
        &:hover
            box-shadow: 0 0 5px gray
    @media only screen and (max-width: 1440px)
        .user-photo
            width: 60%

    .name-age-container
        margin-top: 15%
        position: relative
        justify-content: center
        align-items: center
        .name
            font-size: 1.5rem
            margin-right: 5%
            font-weight: 700

        .age
            font-size: 1.5rem
            color: $dark-gray-blue

    @media only screen and (max-width: 1440px)
    .name-age-container
        margin-top: 7.5%

        @media only screen and (max-width: 1440px)
            .name-age-container
                margin-top: 7.5%
            .name
                font-size: 1.25rem
            .age
                font-size: 1.25rem

    .location
        position: relative
        align-self: center
        color: $dark-gray-blue
        font-size: 1.25rem
        margin-top: 10%

    .job
        position: relative
        font-size: 1.25rem
        align-self: center
        color: $dark-gray-blue
        margin-top: 10%
    @media only screen and (max-width: 1440px)
        .job
            font-size: 1rem
        .location
            font-size: 1rem

.user-detail-container
    justify-content: space-around
    width: 100%
    padding: 0 0 40px 0
    background-color: $primaryColor
    border-radius: 15px
    opacity: 75%
    .detail-container-info
        position: relative
        display: flex
        justify-content: center
        align-items: center
        margin-top: 2rem
        display: flex
        text-align: center

        .detail-title
            position: relative
            color: white
            font-size: 1.25rem
            font-weight: 700
            margin-bottom: 3px

        .detail-paragraph
            position: relative
            margin-top: 0.5rem
            color: white
            font-size: 1.25rem
            letter-spacing: 2px

        @media only screen and (max-width: 1440px)
            .detail-paragraph
                font-size: 0.85rem
            .detail-title
                font-size: 0.85rem
